#sms分表
spring.shardingsphere.sharding.tables.sms_tab.actual-data-nodes = master.sms_tab_$->{(0..99).collect{t ->t.toString().padLeft(8,'0')}}
spring.shardingsphere.sharding.tables.sms_tab.table-strategy.standard.sharding-column = telephone
spring.shardingsphere.sharding.tables.sms_tab.table-strategy.standard.precise-algorithm-class-name = com.shopee.banking.config.SmsShardingConfig
#email分表配置
spring.shardingsphere.sharding.tables.email_tab.actual-data-nodes = master.email_tab_$->{(0..99).collect{t ->t.toString().padLeft(8,'0')}}
spring.shardingsphere.sharding.tables.email_tab.table-strategy.standard.sharding-column = to_address
spring.shardingsphere.sharding.tables.email_tab.table-strategy.standard.precise-algorithm-class-name = com.shopee.banking.config.EmailShardingConfig
#pn分表配置
spring.shardingsphere.sharding.tables.pn_tab.actual-data-nodes = master.pn_tab_$->{(0..99).collect{t ->t.toString().padLeft(8,'0')}}
spring.shardingsphere.sharding.tables.pn_tab.table-strategy.standard.sharding-column = user_id
spring.shardingsphere.sharding.tables.pn_tab.table-strategy.standard.precise-algorithm-class-name = com.shopee.banking.config.PnShardingConfig
#ar分表配置
spring.shardingsphere.sharding.tables.ar_tab.actual-data-nodes = master.ar_tab_$->{(0..99).collect{t ->t.toString().padLeft(8,'0')}}
spring.shardingsphere.sharding.tables.ar_tab.table-strategy.standard.sharding-column = user_id
spring.shardingsphere.sharding.tables.ar_tab.table-strategy.standard.precise-algorithm-class-name = com.shopee.banking.config.ArShardingConfig


